:root {
  font-family: "SF Pro Text", "Segoe UI", sans-serif;
  color: #cccccc;
  background: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
